/JavaApplication21/nbproject/private/
/ANPaint/nbproject/private/
/ANPaint/build/

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
